/* Descendant Selector */
section p {
  color: black;
  font-weight: normal;
}

section article p {
  color: black;
}

.highlighted p {
  background-color: lightcoral;
  color: white;
  padding: 10px;
}

/* Adjacent Sibling Selector */
.highlighted+article p.styled-article {
  background-color: lightpink;
  color: red;
  border: 2px solid lightcoral;
}

/* Child Selector */
ul.special-list>li {
  font-weight: bold;
}

ul.special-list>li.red-item {
  color: red;
}

/* Descendant a tags within li */
ul.special-list li a {
  color: blue;
  text-decoration: none;
}

/* Combine Relative Selectors */
ul.special-list li.red-item+li ul li a {
  color: green;
}

/* General Sibling Selector */
h2~p.sibling {
  color: blue;
  font-style: italic;
}