div p:first-of-type {
  color: blue;
}

div p:nth-of-type(2) {
  color: red;
  background-color: #eee;
  padding: 5px;
}

div p span {
  color: red;
  font-weight: bold;
}

div p.last-paragraph {
  color: red;
}

ul ul {
  margin-left: 20px;
}

ul li {
  margin: 5px 0;
}

#requirements {
  color: orange;
  font-weight: bold;
}